header{
  height: 80px;
}

.titulo{
  font-size: 40px;
  font-weight: bold;
}

.imagen-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 30px;
  border-color: black;
}

.imagen-info{
  width: 80%;
  height: 100px;
}

.cardsViajes{
  margin: 1rem 0;
  width: 30rem;
  background: rgb(10,252,255);
  background: linear-gradient(0deg, rgba(10,252,255,1) 0%, rgba(253,132,45,1) 100%);
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 1px 2rem rgb(58, 58, 248);
  padding-bottom: 1rem;
}